<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <!--CHALLENGE.
    cambiar el titulo del documento creado, debe ser contacto.
crear un titulo h1 dentro del body, con el texto, Contacto-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Contacto</h1>
<a href="{{ url_for('inicio') }}">Inicio</a>
<a href="{{ url_for('contacto') }}">Contacto</a>
<h2> Celular: 0971268128</h2>
<h3>E-mail: fadeathayde@icloud.com </h3>
</body>
</html>